body {
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}

.titulo {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  background-color: #287369;
  color: #FFF;
  padding: 0.3em;
  border-bottom: 10px solid #000;
}

.conteudo {
  max-width: 60em;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.conteudo ul {
  vertical-align: top;
  width: 5em;
}

#j1 {
  float: left;
  clear: left;
}

#j1 li {
  background: blue;
  display: none;
}

.selecionado {
  opacity: 0.3;
  color: black !important;
  font-weight: bold;
}

#j2 {
  float: right;
  clear: right;
}

#j2 li {
  background: red;
  display: none;
}

.placar {
  width: 3em;
  margin: 0;
  margin-bottom: 1em;
  font-size: 2em;
  border: 1px solid;
  line-height: 2em;
  padding: 0;
}

#placar-j1 {
  float: left;
  clear: left;
  color: blue;
}

#placar-j2 {
  float: right;
  clear: right;
  color: red;
}

.conteudo li {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: white;
}

.fagos li {
  border: 3px solid #eee;
  border-radius: 3em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 3em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  font-size: 1.5em;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#painel {
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: center;
}

#painel li {
  width: 2em;
  height: 2em;
  background-color: #ddd;
  margin: -0.1em 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#painel .ui-selecting {
  background: rgba(0, 255, 0, 0.2);
}

#painel .ocupadoj1 {
  background: rgba(0, 0, 255, 0.8);
}

#painel .ocupadoj2 {
  background: rgba(255, 0, 0, 0.8);
}

#lados {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  font-size: 5em;
}

#conta {
  opacity: 0.8;
}
