body {
  font-family: 'Gloria Hallelujah', cursive;
  overflow-y: hidden;
  font-size: 1.8vh;
}

header {
  font-size: 4em;
  text-align: center;
  padding: 0.5em 0 0;
}

header img {
  width: 5em;
  height: auto;
}

main {
  max-width: 60em;
  margin: 0 auto;
  padding-top: 1em;
  text-align: center;
  overflow: hidden;
  position: relative;
}

main ul {
  vertical-align: top;
  width: 5em;
}

main li {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: white;
}

#phagos-p1 {
  float: left;
  clear: left;
}

#phagos-p1 li {
  background-image: url(img/phago_bg_p1.png);
}

#phagos-p2 {
  float: right;
  clear: right;
}

#phagos-p2 li {
  background-image: url(img/phago_bg_p2.png);
}

.selected {
  opacity: 0.8;
  color: black !important;
  font-weight: bold;
}

.name {
  width: 3em;
  margin: 0 0 0.3em;
  font-size: 2em;
  line-height: 2em;
  padding: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.active {
  border: 2px solid;
}

.score {
  width: 3em;
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
  line-height: 2em;
  padding: 0;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.score.player1{
  background-image: url('img/score_p1.png');
}
.score.player2{
  background-image: url('img/score_p2.png');
}

.player1 {
  float: left;
  clear: left;
  color: #01C390;
}

.player2 {
  float: right;
  clear: right;
  color: #C1033B;
}

.phagos li {
  width: 3em;
  height: 3em;
  line-height: 3em;
  font-size: 1.5em;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#panel {
  margin: 0 auto;
  padding: 0;
  height: auto;
  text-align: center;
}

#panel li {
  width: 2em;
  height: 2em;
  background-color: #F9F9F9;
  margin: -0.07em 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.image-transition {
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

#panel .ui-selecting {
  background: rgba(0, 0, 0, 0.2);
}

#panel .takenp1, #panel .takenp2 {
  background-size: 2em 2em;
  background-repeat: no-repeat;
}

#panel .takenp1 {
  background-image: url(img/green.gif);
}

#panel .takenp2 {
  background-image: url(img/pink.gif);
}

#sides {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  font-size: 5em;
}

#helper {
  opacity: 0.8;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}
